/* Item or page specific images */

#page-home header {
  background-image: url('/images/header/home-1x.jpg');
}

#image-button-general-info {
  background-image: url('/images/buttons/general-info-1x.jpg');
}

#image-button-hobbies {
  background-image: url('/images/buttons/hobbies-1x.jpg');
}

#image-button-future {
  background-image: url('/images/buttons/future-1x.jpg');
}

/* 2x styles */
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  #page-home header {
    background-image: url('/images/header/home-2x.jpg');
  }
  #image-button-general-info {
    background-image: url('/images/buttons/general-info-2x.jpg');
  }

  #image-button-hobbies {
    background-image: url('/images/buttons/hobbies-2x.jpg');
  }

  #image-button-future {
    background-image: url('/images/buttons/future-2x.jpg');
  }
}

/* 3x styles */
@media screen and (min-width: 2560px) {
  #page-home header {
    background-image: url('/images/header/home-3x.jpg');
  }
  #image-button-general-info {
    background-image: url('/images/buttons/general-info-3x.jpg');
  }

  #image-button-hobbies {
    background-image: url('/images/buttons/hobbies-3x.jpg');
  }

  #image-button-future {
    background-image: url('/images/buttons/future-3x.jpg');
  }
}