/* Item or page specific images */
//image array
$images: (
        "#page-home header": "header/home",
        "#image-button-general-info":"buttons/general-info",
        "#image-button-hobbies":"buttons/hobbies",
        "#image-button-future":"buttons/future"
);

@each $selector, $path in $images {
  #{$selector} {
    background-image: url('/images/#{$path}-1x.jpg');
  }
}

/* 2x styles */
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  @each $selector, $path in $images {
    #{$selector} {
      background-image: url('/images/#{$path}-2x.jpg');
    }
  }
}

/* 3x styles */
@media screen and (min-width: 2560px) {
  @each $selector, $path in $images {
    #{$selector} {
      background-image: url('/images/#{$path}-3x.jpg');
    }
  }
}