/* Display */

.pos-absolute {
  position: absolute;
}

.display-block {
  display: block;
}

.display-flex, .row {
  display: flex;
}

.flex-space-between, .row {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

body, html {
  height: 100%;
}

/* General HTML tags */
body {
  font-family: 'Istok Web', Arial, sans-serif;
  flex-direction: column;
}

header, footer, .image-button, .page-specific-info {
  justify-content: center;
  align-items: center;
  color: white;
}

header, footer, .image-button, [class^="icon-"], .logo {
  background: $primary-color no-repeat center center;
  background-size: cover;
}

a {
  color: white;
  text-decoration: none;
}

a:hover, a:focus {
  font-weight: bolder;
}

nav li {
  display: inline-block;
}

h1 {
  font-size: 2em;
}

figure {
  width: 100%;
  margin: 5px 0 5px;
}