/* Display */

header, footer, .row, #topNav ul {
  display: flex;
  justify-content: space-between;
}

/* General HTML tags */
body {
  font-family: 'Istok Web', sans-serif;
}

header, footer {
  justify-content: center;
  align-items: center;
  background: $primary-color no-repeat center center;
  color: white;
  background-size: cover;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  font-weight: bolder;
}

nav li {
  display: inline-block;
  text-align: center;
  text-align: center;
}

h1 {
  font-size: 2em;
}
