/*
"Grid"
*/
header, footer, main {
  padding: 0px $padding 0px;
}

.row {
  width: 100%;
  padding: 5px 0px 5px;
}

//generate col structure
@for $i from 1 through 12 {
  .col-#{$i} {
    width: percentage((1/12)*$i);
  }
}