/*
"Grid"
*/
header, footer, main {
  padding: 0px $padding 0px;
}

.row {
  width: 100%;
  padding: 5px 0px 5px;
}

div[class^="col"] {
  padding: 0px 5px 0px;
}

/* no padding at first and last child */
.row > div[class^="col"]:nth-child(1) {
  padding-left: 0px;
}

.row > div[class^="col"]:last-child {
  padding-right: 0px;
}

//generate col structure
@for $i from 1 through 12 {
  .col-#{$i} {
    width: percentage((1/12)*$i);
  }
}

/* lines */

.split-line > li, .split-line > div {
  border-left: 2px solid #ffffff;
}

.split-line > :first-child {
  border: none;
}