/* Header elements */

header {
  min-height: $header-height;
  border-bottom: $line-height solid;
  text-transform: uppercase;
}

header .row {
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.split-content .line {
  width: 2px;
  background: #ffffff;
  height: 100%;
  position: absolute;
  right: 50%;
  top: 0;
  margin: auto;
}

#main-logo {
  background: url('/images/logo.svg') left center no-repeat;
  background-size: contain;
  display: block;
}

#main-logo, #page-specific-info {
  min-height: $header-height * 0.5;

}

#page-home header h1 {
  font-size: 1.5em;
}

#topNav {
  top: 0px;
  text-transform: uppercase;
  width: (100vw - 2*$padding);
}

#topNav li, #topNav a {
  width: 100%;
}

#topNav a, #breadcrumbs li {
  display: inline-block;
  line-height: 2em;
}

#topNav a.active, #topNav a:hover, #topNav a:focus {
  border-bottom: solid 2px #ffffff;
}

#breadcrumbs li:before {
  content: "/ ";
}

#breadcrumbs li:first-child:before, li:last-child:before {
  content: "";
}

#header-icon {
  font-size: 1.8em;
  min-height: 1.8em;
}

#scroll-down {
  bottom: 20px;
  display: none;
}