/* icons */
[class^="icon-"] {
  height: 2.5em;
  display: block;
  background-size: contain;
  background-color: transparent;
}

.icon-hobbies {
  background-image: url('/images/icons/hobbies.svg');
}