/* icons */
[class^="icon-"] {
  height: 2.5em;
  display: block;
  background-size: contain;
  background-color: transparent;
}

$icons: ('hobbies', 'football', 'gaming');
@each $icon in $icons {
  .icon-#{$icon} {
    background-image: url('/images/icons/#{$icon}.svg');
  }
}