/* icons and logos*/

[class^="icon-"] {
  height: 2.5em;
  display: block;
  background-size: contain;
  background-color: transparent;
}

$icons: ('logo', 'info', 'hobbies', 'football', 'football-light', 'gaming', 'gaming-light', 'time', 'map');
@each $icon in $icons {
  .icon-#{$icon} {
    background-image: url('/images/icons/#{$icon}.svg');
  }
}

/* game logos */
.logo {
  color: transparent !important;
  background-color: inherit !important;
  background-size: contain;
  background-position: left center;
}

.call-of-duty {
  background-image: url('/images/logos/cod.svg');
}

.runescape {
  background-image: url('/images/logos/runescape.svg');
}

.counter-strike {
  background-image: url('/images/logos/cs.svg');
}

.world-of-warcraft {
  background-image: url('/images/logos/wow.svg');
}
