/* icons */
[class^="icon-"] {
  height: 2.5em;
  display: block;
  background-size: contain;
  background-color: transparent;
}

$icons: ('info', 'hobbies', 'football', 'football-light', 'gaming', 'gaming-light', 'time');
@each $icon in $icons {
  .icon-#{$icon} {
    background-image: url('/images/icons/#{$icon}.svg');
  }
}