/* game logos */
.logo {
  color: transparent !important;
  background: left center no-repeat;
  background-size: contain;
}

.call-of-duty {
  background-image: url('/images/logos/cod.svg');
}

.runescape {
  background-image: url('/images/logos/runescape.svg');
}

.counter-strike {
  background-image: url('/images/logos/cs.svg');
}

.world-of-warcraft {
  background-image: url('/images/logos/wow.svg');
}
