/* Main body styles */
main {
  margin: 2em 0 2em;
  flex-grow: 1;
  color: #373737;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid;
  width: 33%;

}

h2, figcaption, h3 {
  color: $primary-color;
}

/* All text-align center styles */
h2, figcaption, nav li, .button, .content-center, h1, h2, footer {
  text-align: center;
}

.content-right {
  text-align: right;
}

h3, figcaption {
  font-size: 1.1em;
  padding: 1em 0 1em;
}

@import "page-specific/home";

.center, h2, figcaption {
  display: block;
  margin: auto;
}

.circle {
  border-radius: 100%;
}

/* scroll up button */
#scroll-up {
  width: 33%;
  margin-top: 1em;
}

@import "page-specific/hobbies";
@import "page-specific/sitemap";
