/* Main body styles */
main {
  margin: 2em 0;
  flex-grow: 1;
  color: #373737;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid;
  width: 33%;
}

@media screen and (max-width: 1200px) {
  h2 {
    width: 60%;
  }
}

h2, figcaption, h3 {
  color: $primary-color;
}

/* All text-align center styles */
h2, figcaption, nav li, .button, .content-center, h1, h2, footer {
  text-align: center;
}

.content-right {
  text-align: right;
}

h3, figcaption {
  font-size: 1.40em;
  padding: 1em 0 1em;
}

p {
  line-height: 150%;
  font-size: 1.2rem;
  padding: 0.5em 0;
}

h4 {
  font-size: 1.2em;
  font-weight: bold;
}

@import "page-specific/home";

.center, h2, figcaption {
  display: block;
  margin: auto;
}

.circle {
  border-radius: 100%;
}

/* scroll up button */
#scroll-up {
  width: 33%;
  margin-top: 1em;
}

@import "page-specific/hobbies";
@import "page-specific/sitemap";
/* long text styles for improved read */
.long-text h2, .long-text figcaption {
  width: 100%;
  text-align: left;
}

