/* Main body styles */
main {
  margin: 2em 0 2em;
  flex-grow: 1;
}

main p {
  color: #373737;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid;
  width: 33%;

}

h2, figcaption, h3 {
  color: $primary-color;
}

h2, figcaption {
  text-align: center;
}

h3, figcaption {
  font-size: 1.1em;
  padding: 1em 0px 1em;
}

.image-button {
  min-width: 100%;
  position: relative;
  cursor: pointer;
}

.image-button:before {
  content: "";
  display: block;
  padding-top: 100%; /* initial ratio of 1:1*/
}

.image-button-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.image-button-content h3, .image-button-content p {
  color: #ffffff;
  padding: 10px;
}

.image-button-content a {
  display: block;
  width: 100%;
  background: $primary-color;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 0px;
  font-size: 24px;
}

.image-button:hover {
  background-size: inherit;
}
.image-button-content a:hover {
  background: $primary-color-hover;
}

img {
  height: 150px;
  width: auto;
}

@media screen and (min-height: 1080px) {
  img {
    height: 250px;
  }
}

.center, h2, figcaption {
  display: block;
  margin: auto;
}

.circle {
  border-radius: 100%;
}

/* scroll up button */
#scroll-up {
  width: 33%;
  margin-top: 1em;
}

#page-hobbies main i[class^="icon"] {
  height: 18vh;
  margin-bottom: 10px;
}

#page-hobbies main i[class^="icon"], #page-hobbies main .button {
  width: 18vh;
}

.facts {
  padding: 10px;
}

.facts li {
  padding-top: 1em;
}

/* I use before instead of ul list style due to the reset.css and with before i have more control over the bullet images*/
.facts li::before {
  margin-right: 10px;
  content: "";
  background: no-repeat center center;
  background-size: contain;
  height: 1em;
  width: 1em;
  display: inline-block;
}

#page-games .facts li::before {
  background-image: url('/images/icons/gaming-blue.svg');
}

#page-sport .facts li::before {
  background-image: url('/images/icons/football-blue.svg');
}

#page-sport iframe {
  width: 100%;
  height: 350px;
}
/* article list */

.article-list h3 {
  padding-top: 0;
}

.article-list article {
  padding: 1em;
}

.article-list article:nth-child(even) {
  background: $primary-color;
}

.article-list article:nth-child(even) p, .article-list article:nth-child(even) h3 {
  color: white;
}

.full-width {
  width: 100% !important;
  height: auto;
}