/* Main body styles */
main {
  margin: 2em 0 2em;
  flex-grow: 1;
}

main p {
  color: #373737;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid $border-color;
  width: 33%;

}

h2, figcaption, h3 {
  color: $primary-color;
}

h2, figcaption {
  text-align: center;
}

h3, figcaption {
  font-size: 1.1em;
  padding: 1em 0px 1em;
}

.image-button {
  min-width: 100%;
  position: relative;
  cursor: pointer;
}

.image-button:before {
  content: "";
  display: block;
  padding-top: 100%; /* initial ratio of 1:1*/
}

.image-button-content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.image-button-content h3, .image-button-content p {
  color: #ffffff;
  padding: 10px;
}

.image-button-content a {
  display: block;
  width: 100%;
  background: $primary-color;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  bottom: 0px;
  font-size: 24px;
}

.image-button-content a:hover {
  background: $primary-color-hover;
}

img {
  height: 150px;
  width: auto;
}

@media screen and (min-height: 1080px) {
  img {
    height: 250px;
  }
}

.center, h2, figcaption {
  display: block;
  margin: auto;
}

.circle {
  border-radius: 100%;
}

/* scroll up button */
#scroll-up {
  background: $border-color;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 33%;
}

#scroll-up:hover {
  background: $border-color-hover;
}