/* Styles for mobile devices */
$mobilePadding: 5vw;
@media only screen and (max-width: 850px) and (max-width: 850px) {
  header, footer, main {
    padding: 0px $mobilePadding 0px;
  }

  #topNav {
    width: 100%;
    background: $primary-color;
  }

  #topNav a.active, #topNav a:hover, #topNav a:focus {
    border: none;
    background: $primary-color-hover;
  }

  #topNav a {

  }

  #line {
    display: none;
  }

  #main-logo {
    height: 30vh;
    margin-bottom: 5px;
  }

  div[class^="col"], #main-logo, #page-specific-info, .scroll-up {
    width: 100%;
  }

  header {
    height: 100vh;
  }

  .row {
    flex-wrap: wrap;
  }

  h1 {
    font-size: 1.2em;
    text-align: center;
  }

  #scroll-down {
    display: block;
  }

  .image-button {
    width: 60%;
    margin: auto;
  }
}