/* Styles for mobile devices */
$mobilePadding: 5vw;
@media only screen and (max-device-width: 850px) and (max-device-height: 850px) {
  header, footer, main {
    padding: 0 $mobilePadding;
  }

  .top-nav {
    width: 100%;
    left: 0;
    background: $primary-color;
  }

  .top-nav a.active, .top-nav a:hover, .top-nav a:focus {
    border: none;
    background: $primary-color-hover;
  }

  #main-logo {
    height: 30vh;
    margin-bottom: 5px;
  }

  div[class^="col"], #main-logo, .page-specific-info, .scroll-up {
    width: 100%;
    margin: 0;
  }

  header {
    min-height: 100vh;
  }

  .row {
    flex-wrap: wrap;
  }

  h1 {
    font-size: 1.2em;
  }

  h3 {
    width: 100%;
    text-align: center;
  }

  #scroll-down {
    display: block;
  }

  .image-button {
    width: 60%;
    margin: auto;
  }

  .split-line > * {
    border: none !important;
  }

  footer {
    text-align: center;
    min-height: 153px;
  }
  footer li {
    display: list-item;
  }
}