//colors
$primary-color: #4285F4;
$border-color: #43CEAA;

$footer-height: 50px;
$line-height: 10px;
$header-height: 40vh;

//applied left AND right of each content block to emulate the bootstrap container layout
$padding: 13vw;