//colors
$primary-color: #4285f4;
$primary-color-hover: lighten($primary-color, 10%);
$border-color: #43ceaa;
$border-color-hover: lighten($border-color, 10%);
$footer-height: 50px;
$line-height: 10px;
$header-height: 40vh;

//applied left AND right of each content block to emulate the bootstrap container layout
$padding: 13vw;