<!DOCTYPE html>
<html lang="nl">
<head>
    <title>Lars Bäcker - {{title}}</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="{{description}}"/>
    <meta name="keywords" content="lars, backer, 19, helpman"/>
    {{#each metaTags}}
    <meta name="{{name}}" content="{{content}}"/>
    {{/each}}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {{#each favIcons}}
    <link rel="{{rel}}" type="image/png" href="/images/favicons/{{href}}"/>
    {{/each}}
    {{#each stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{this}}"/>
    {{/each}}
</head>
<body id="page-{{pageId}}">
<header>
    <nav id="topNav" class="pos-absolute">

        <ul>
            {{#each headerMenu}}
            <li>
                <a href="{{url}}" class="{{#compare ../setActive id operator='=='}}active{{/compare}}">{{label}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>
    <div class="row split-line">
        <div class="col-6 content-center">
            <a id="main-logo" href="/index.html"></a>
        </div>
        <div class="col-6 content-center" id="page-specific-info">
            <h1>{{title}}</h1>
            {{#if icon}}
            <i class="{{icon}}" id="header-icon"></i>
            {{/if}}
            {{#if isGames}}
            <ol id="breadcrumbs">
                <li><a href="vrije-tijd.html">Vrije tijd</a></li>
                <li><a href="games.html">Games</a></li>
            </ol>
            {{/if}}
            {{#if isSport}}
            <ol id="breadcrumbs">
                <li><a href="vrije-tijd.html">Vrije tijd</a></li>
                <li><a href="sport.html">Sport</a></li>
            </ol>
            {{/if}}
        </div>
    </div>
    <a id="scroll-down" class="center pos-absolute" href="#">
        Scroll naar beneden <i class="fa fa-chevron-down"></i>
    </a>
</header>
<main>