<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="{{description}}"/>
    <meta name="keywords" content="{{keywords}}"/>
    {{#each metaTags}}
    <meta name="{{name}}" content="{{content}}"/>
    {{/each}}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {{#each favIcons}}
    <link rel="{{rel}}" type="image/png" href="/images/favicons/{{href}}"/>
    {{/each}}
    {{#each stylesheets}}
    <link rel="stylesheet" type="text/css" href="{{this}}"/>
    {{/each}}
</head>
<body id="page-{{pageId}}">
<header>
    <nav id="topNav">

        <ul>
            {{#each headerMenu}}
            <li>
                <a href="{{url}}" class="{{#compare ../pageId id operator='=='}}active{{/compare}}">{{label}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>
    <div class="row split-line">
        <div class="col-6">
            <a id="main-logo" href="/index.html"></a>
        </div>
        <div class="col-6" id="page-specific-info">
            <h1>{{title}}</h1>
            {{#if icon}}
            <i class="{{icon}}" id="header-icon"></i>
            {{/if}}
        </div>
    </div>
    <a id="scroll-down" class="center" href="#">
        Scroll naar beneden <i class="fa fa-chevron-down"></i>
    </a>
</header>
<main>