/* this is due to my reset.css */

.sitemap {
  list-style: initial;
}

.sitemap a, p > a {
  color: inherit;
  text-decoration: underline;
}

.sitemap ul {
  list-style: circle;
  margin-left: 1em;
}